* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  background: #e0e9f0;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.button {
  display: none;
}

.searchForm {
  width: 20rem;
  padding: 1rem 1rem 0 1rem;
}

.search {
  height: 2rem;
  width: 100%;
  border-radius: 99rem;
  border: none;
  padding: 0.3rem 2rem;
  font-size: 10pt;
  font-weight: 400;
  letter-spacing: 0.5pt;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  color: white;
  text-transform: capitalize;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
}

input,
select,
textarea {
  color: #ff0000;
}

::placeholder {
  color: rgb(241, 241, 241);
  font-weight: 400;
  opacity: 1;
}

.search:hover {
  transform: translateY(-1px);
}

.weatherContainer {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-height: 35rem;
  margin-bottom: 3rem;
}

.today {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  padding: 3rem;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(255, 255, 255, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  height: 80vh;
  min-height: 50rem;
}

.today:hover,
.subForecast:hover {
  transform: translateY(-2px);
}


.temp {
  font-size: 72pt;
  font-weight: 800;
  margin-top: 2rem;
  line-height: 1;
  /* color: white */
}

.main {
  font-size: 32pt;
  font-weight: 400;
  /* color: white; */

}

.subToday {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date {
  margin-bottom: 3rem;
}

.now {
  font-weight: 800;
  font-size: 24pt;
  margin-bottom: 0.5rem;
}

.wind {
  margin-top: 3rem;
}

.forecast {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  height: 80vh;
  min-height: 50rem;
  gap: 1rem;
}

.subForecast {
  display: grid;
  grid-template-columns: 0.8fr 1fr 1.5fr 1.3fr;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(255, 255, 255, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  flex-grow: 1;
  align-items: center;
  padding: 2rem;
}

.fDate {
  font-weight: 400;
  text-align: left;
  margin-bottom: 0.5rem;
}

.fMain {
  text-align: left;
  font-size: 22pt;
  font-weight: 800;
}

.fTemp {
  font-size: 42pt;
  font-weight: 800;
  text-align: left;
}

.fContent {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: left;
}

.fDesc {
  text-transform: capitalize;
  font-weight: 600;
  text-align: left;
}

.icon {
  width: 300px;
  height: auto;
}

.iconS {
  width: 80px;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.longDiv {
  display: flex;
  justify-content: center;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0.5rem 2rem;
  font-size: 8pt;
}

@media only screen and (max-width: 1200px) {
  .subForecast {
    grid-template-columns: 0.8fr 1fr 1.2fr 1.2fr;
    padding: 1rem;
  }

  .weatherContainer {
    flex-direction: column;
  }

  .today {
    width: 100%;
  }

  .forecast {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .subForecast {
    grid-template-columns: 1fr 1fr 1.2fr 1.2fr;
    padding: 1rem;
  }

  .fDate {
    font-size: 9pt;
    margin-bottom: 0.2rem;
  }

  .fMain {
    font-size: 12pt;
  }

  .fTemp {
    font-size: 22pt;
  }

  .fContent {
    font-size: 9pt;
  }

  .searchForm {
    width: 100%;
  }

}