* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: content-box;
}

.container {
  background: #e0e9f0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
}

.button {
  display: none;
}

.searchForm {
  width: 20rem;
  padding: 1rem 1rem 0 1rem;
}

.search {
  height: 2rem;
  min-width: 20rem;
  border-radius: 99rem;
  border: none;
  padding: 0.3rem 2rem;
  font-size: 12pt;
  font-weight: 600;
  letter-spacing: 1pt;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  color: rgb(137, 137, 137);
  text-transform: capitalize;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
}

.search:hover {
  transform: translateY(-1px);
}

.weatherContainer {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.today {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  padding: 3em;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  height: 70vh;
}

.temp {
  font-size: 92pt;
  font-weight: 800;
  /* color: white */
}

.main {
  font-size: 32pt;
  font-weight: 600;
  /* color: white; */

}

.subToday {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 3em;
  border-radius: 20px;
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  height: 70vh;
  gap: 2rem;
}

.subForecast {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  padding: 3em;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}